<h1>Hello world from index</h1>

<a href="/demo/hello">Hello plain html</a> <br/>
<%= link_to("Hello link_to demo",{:controller=>"demo", :action=>"hello"} )%> <br/>
<%= link_to("Index page",{:action=>"index"} )%>